/* TOP BAR */

.top-bar{
  background:#7ea1c6;
  height:70px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 20px;
  border-bottom:2px solid #000000;
}

.language{
  display:flex;
  align-items:center;
  gap:10px;
  font-size:20px;
}

.language img{
  width:35px;
  height:35px;
  border-radius:50%;
  object-fit:cover;
}

.cart-login{
  display:flex;
  align-items:center;
  gap:15px;
  font-size:22px;
}

.cart-login i{
  font-size:35px;
}

.imq{
height: 8%;
    width: 8%;
    margin-left: auto;
    margin-right: 24px;
}

.cart-login i{
  font-size:35px;
  margin-left: auto;
}


.imq{
height: 8%;
    width: 8%;
    margin-left: auto;
    margin-right: 24px;
}

/* NAVBAR */

.navbar{
  display:flex;
  align-items:center;
  padding:20px 30px;
  gap:50px;
}

.logo{
  font-size:65px;
  font-weight:900;
}

.nav-links{
  display:flex;
  list-style:none;
  gap:40px;
}

.nav-links a{
  text-decoration:none;
  color:black;
  font-size:18px;
  font-weight:600;
}




*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:oklab(90.35600000000001% -0.00448 -0.01565);
}

/* PRODUCT VIEW */

.product-view{
  padding:70px 50px;
  display:flex;
  justify-content:center;
  align-items:flex-start;
  gap:35px;
}

/* LEFT SIDE */

.preview-left{
  display:flex;
  flex-direction:column;
}

.preview-image-box{
  width:500px;
  border: 1px solid #000000;
  height:500px;
  background:white;
  padding:18px;
  margin-right: 95px;
  margin-top: 40px;
}

.preview-image-box img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.preview-text{
  font-size:24px;
  font-style:italic;
  margin-top:6px;
}

/* RIGHT SIDE */

.preview-right{
  width:600px;
  height:600px;
  background:oklab(84.48400000000001% -0.00493 -0.01458);;
  padding:16px;
  border: 1px solid black;
}

.j{
  font-size:45px;
  font-weight:200;
  margin-bottom:12px;
}

.preview-line{
  width:100%;
  height:4px;
  background:#2b2b2b;
  margin-bottom:28px;
}

.n{
  font-size:32px;
  font-weight:700;
  margin-bottom:18px;
}

.preview-right h3{
  font-size:18px;
  margin-bottom:24px;
}

/* STOCK */

.stock-btn{
  width:220px;
  background:#3d805b;
  color:white;
  font-size:19px;
  font-weight:700;
  text-align:center;
  padding:18px 0;
  margin-bottom:28px;
}

/* RATING */

.preview-right h4{
  font-size:18px;
  margin-bottom:22px;
}

/* DESCRIPTION */

.preview-description{
  font-size:20px;
  line-height:1.5;
  margin-bottom:37px;
}

/* BUY BUTTON */

.buy-btn{
  width:180px;
  height:56px;
  border:none;
  background:#8caf53;
  color:white;
  font-size:20px;
  font-weight:630;
  cursor:pointer;
  margin-bottom:40px; 
  margin-top: 50px;
}


/* RESPONSIVE */

@media(max-width:1150px){

  .product-view{
    flex-direction:column;
    align-items:center;
  }

}

/* MOBILE FIXES */

@media (max-width: 768px){

  /* TOP BAR */

  .top-bar{
    padding:10px;
    height:auto;
  }

  .language{
    font-size:16px;
  }

  .language img{
    width:25px;
    height:25px;
  }

  .cart-login{
    font-size:16px;
  }

  .cart-login i{
    font-size:24px;
  }

  .imq{
    width:35px;
    height:35px;
    margin-right:10px;
  }

  /* NAVBAR */

  .navbar{
    flex-direction:column;
    gap:15px;
    padding:15px;
    text-align:center;
  }

  .logo{
    font-size:42px;
  }

  .nav-links{
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
  }

  .nav-links a{
    font-size:16px;
  }

  /* PRODUCT LAYOUT */

  .product-view{
    flex-direction:column;
    padding:20px;
    gap:20px;
  }

  .preview-left{
    width:100%;
  }

  .preview-image-box{
    width:100%;
    height:auto;
    margin-right:0;
    padding:10px;
  }

  .preview-image-box img{
    width:100%;
    height:auto;
  }

  .preview-right{
    width:100%;
  }

  .preview-right h1{
    font-size:38px;
  }

  .preview-right h2{
    font-size:28px;
  }

  .preview-right h3{
    font-size:16px;
  }

  .preview-right h4{
    font-size:18px;
  }

  .preview-description{
    font-size:16px;
  }

  .stock-btn{
    width:100%;
    font-size:20px;
  }

  .buy-btn{
    width:100%;
    height:60px;
    font-size:28px;
    margin-top:20px;
  }

  /* FOOTER */

  .footer-container{
    flex-direction:column;
    text-align:center;
    padding:30px 20px;
  }

  .footer-section{
    width:100%;
  }

  .footer-section h2{
    font-size:30px;
  }

  .footer-section h3{
    font-size:22px;
  }

  .socials{
    justify-content:center;
  }

}




.search-box img{
  padding-left:1px;
  height:30px;
  display:flex;
  align-items:center;
}


.search-box i{
  font-size:40px;
  cursor:pointer;
}



/* FOOTER */

.footer{
  background:#202020;
  color:white;
  margin-top:80px;
}

/* CONTAINER */

.footer-container{
  display:flex;
  justify-content:space-between;
  padding:55px 70px;
  gap:40px;
}

/* SECTIONS */

.footer-section{
  width:30%;
}

.footer-section h2{
  font-size:42px;
  margin-bottom:20px;
}

.footer-section h3{
  font-size:28px;
  margin-bottom:20px;
}

.footer-section p{
  font-size:18px;
  line-height:1.7;
}

/* LINKS */

.footer-section ul{
  list-style:none;
}

.footer-section ul li{
  margin-bottom:14px;
}

.footer-section ul li a{
  text-decoration:none;
  color:white;
  font-size:18px;
  transition:0.3s;
}

.footer-section ul li a:hover{
  color:#7ea1c6;
}

/* SOCIALS */

.socials{
  display:flex;
  gap:18px;
  margin-top:20px;
}

.socials img{
  width:45px;
  height:45px;
  background:#3434a6;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
  text-decoration:none;
  font-size:20px;
  transition:0.3s;
}

.socials a:hover{
  transform:translateY(-5px);
  background:#7ea1c6;
}

/* BOTTOM */

.footer-bottom{
  text-align:center;
  padding:22px;
  border-top:1px solid #444;
  font-size:16px;
}

/* RESPONSIVE */

@media(max-width:900px){

  .footer-container{
    flex-direction:column;
  }

  .footer-section{
    width:100%;
  }

}

.cart-container {
    position: relative;
    display: inline-block;
}

.cart-btn {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.imq {
    width: 50px;
    height: 50px;
}

/* Red dot */
.cart-dot {
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: 12px;
    height: 12px;
    background: red;
    border-radius: 50%;
}

/* Hidden cart */
.cart-ui {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    width: 250px;
    background: white;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,.15);
}

/* Show cart when hovering */
.cart-container:hover .cart-ui {
    display: block;
}





/* PREVIEW LINK */

.preview-text{
  cursor:pointer;
  text-decoration:none;
  color:black;
}

/* MODAL */

.modal{
  display:none;

  position:fixed;
  top:0;
  left:0;

  width:100%;
  height:100%;

  justify-content:center;
  align-items:center;

  background:rgba(0,0,0,0.6);
  backdrop-filter:blur(8px);

  z-index:9999;
}

/* OPEN MODAL */

.modal:target{
  display:flex;
}

/* IMAGE */

.modal img{
  max-width: 2300px;
  max-height:2400px;

  border:9px solid white;
  background:white;
}

/* CLOSE BUTTON */

.close{
  position:absolute;
  top:20px;
  right:30px;

  color:white;
  text-decoration:none;
  font-size:60px;
  font-weight:bold;
}